@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.portfolio {
.childContainer {
  width: fit-content;
  height: 500px;
  margin: 40px;
  font-size: 50px;
  font-weight: 900;
}

.color1 {
  color: blue;
  font-size: 80px;
}
.color2 {
  color: brown;
  font-size: 80px;
}
h1{
  color: brown;
  font-size: 100px;
}
.become {
  font-size: 60px;
}

img{
  width: 390px;
}
}